/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #282828;
}
#footer h5{
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}

html,body {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    font-size: 18px;
}

.navbar-light .navbar-brand {
    color: #f2f2f2;
}

.navbar-light .navbar-nav .nav-link {
    color: #f2f2f2;
}

.hero {
    background: rgb(232,76,61);
    background: linear-gradient(90deg, rgba(232,76,61,1) 0%, rgba(231,75,60,1) 60%, rgba(253,29,29,1) 100%);
    padding: 36px 0;
    color: #eee;
}

.hero .greeting {
    margin: 36px auto;
    width: 100%;
    text-align: center;
}

.hero .links {
    width: 600px;
    padding-top: 36px;
    padding-bottom: 36px;
    margin: 90px auto 0 auto;
}

.hero .links .col {
    margin-left: auto;
    margin-right: auto;
}

.hero .links .col .linksImg {
    margin-bottom: 20px;
}

.hero .links .col .linksImg a {
    margin-left: auto;
    margin-right: auto;
}

.hero .links .col .linksImg svg{
    width: 60px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    fill: #f2f2f2;
    color: #f2f2f2;
}

.hero .links .col .linksText p{
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.toolsAndServices {
    width: 100%;
    padding: 40px 0;
    margin: 0;
    background: #292929;
    box-shadow: 0px 4px 4px #393939;
    color: #f9f9f9;
}

.toolsAndServices .titleRow {
    margin: 0 0 20px 0;
}

.toolsAndServices .titleRow p{
    width: fit-content;
    margin: 10px auto 24px auto;
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 30px;
    /* background: #F4312A; */
    background: #00BF8F;
    box-shadow: 0px 1px 1px #343434;
}

.toolsAndServices .list {
    width: 60%;
    min-width: 800px;
    margin: 16px auto;
}

.toolsAndServices .list p {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

/* .toolsAndServices .list svg {
    width: 100%;
} */

.slider {
    /* box-shadow: inset 0px 7px 10px #999; */
    /* background-color: #aaa; */
    /* background: rgb(232,76,61);
    background: linear-gradient(90deg, rgba(232,76,61,1) 0%, rgba(231,75,60,1) 60%, rgba(253,29,29,1) 100%); */
    background: 
    radial-gradient(rgba(0,0,0,.3) 3px, transparent 4px),
    radial-gradient(rgba(0,0,0,.3) 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
    #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    padding: 20px 0 40px 0;
    box-shadow: inset 0px 4px 16px #999;
    overflow: hidden;
}

.slider .workWith {
    width: fit-content;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #f2f2f2;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 20px;
    background-color: rgb(232,76,61);
    box-shadow: 0px 1px 2px #999;
    border-radius: 30px;
}

.slider .slider-inner button {
    display: none !important;
}

.slider .slider-inner .col img {
    fill: #fff;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.experience {
    width: 100%;
    padding: 0 0 40px 0;
    -webkit-box-shadow: 4px -4px 31px -6px rgba(0,0,0,0.63);
    -moz-box-shadow: 4px -4px 31px -6px rgba(0,0,0,0.63);
    box-shadow: 4px -4px 31px -6px rgba(0,0,0,0.63);
    background: #4e32ff; /* Old browsers */
    background: -moz-linear-gradient(left, #4e32ff 0%, #2989d8 0%, #a728fc 100%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #4e32ff 0%,#2989d8 0%,#a728fc 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #4e32ff 0%,#2989d8 0%,#a728fc 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e32ff', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
}

.recommendation {
    background: #E3E8EC;
    background: #222;
    z-index: -99;
}

.video {
    width: 100%;
    padding: 0 0 20px 0;
    background: #151515;
    background-color: #222222;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23888888' fill-opacity='0.27'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.video .videoRow {
    margin: 0;
}

.video .videoCol {
    margin: 20px auto;
}

.video .videoCol iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.video .videoTitle p {
    background: rgba(34,34,34,0.8);
}

.experienceTitle {
    padding: 50px 0 0 0;
    margin: 0;
}

.experienceMore {
    padding: 28px 0 0 0;
    margin: 0;
}

.experienceTitle p, .experienceMore p {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 26px;
    color: #f2f2f2;
}

.experienceTitle p {
    border: 1px solid #f2f2f2;
    padding: 8px 12px;
}

.experienceMore p {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.experienceMore p a {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    padding: 4px 12px;
    border-radius: 30px;
    color: #4232ff;
    transition: border .4s ease, background-color .4s ease, color .4s ease;
    margin-left: 6px;
}

.experienceMore p a:hover {
    background-color: transparent;
    border: 1px solid #f2f2f2;
    color: #f2f2f2;
}

.experienceRow {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    color: #f2f2f2;
}

.experienceRow .col {
    padding: 40px;
}

.experienceRow .imageRow {
    margin: 0 auto 20px auto;
}

.experienceRow .imageRow img {
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.experienceRow .imageRow.right img {
    height: 44px;
    margin-top: 48px;
    margin-bottom: 48px;
}

.recommendationRow .imageRow img {
    height: 200px;
}

.experienceRow .textRow {
    margin: 0 auto;
    text-align: center;
}

.experienceRow .textRow a {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.experienceRow .workedWith {
    margin-top: 36px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.experienceRow .textRow h5, .experienceRow .textRow h6, .experienceRow .textRow h7 {
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.experienceRow .textRow p {
    margin: 0 auto 4px 0;
    width: 100%;
    text-align: center;
}

.experienceRow .textRow p.bold {
    font-weight: 400;
}

/* 
.experience .typeA, .experience .typeB {
    width: 100%;
    margin: 0;
    padding: 0;
}

.experience .typeA .left, .experience .typeB .right {
    background: rgb(232,76,61);
    background: linear-gradient(90deg, rgba(232,76,61,1) 0%, rgba(231,75,60,1) 100%);
    padding: 30px 20px;
    color: #f2f2f2;
}

.experience .typeA .right, .experience .typeB .left {
    background: #00BF8F;
    background: #292929;
    padding: 30px 20px;
    color: #f2f2f2;
}

.experience .typeA .right {
    padding: 30px 30px 30px 60px;
}

.experience .titleRow, .experience .listRow, .experience .descRow {
    margin-left: 0;
    margin-right: 0;
}

.experience .typeA .left img, .experience .typeB .right img {
    display: block;
    width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.experience .col .titleRow {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 24px;
} */

#footer {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

#footer h5 {
    text-align: center;
}

#footer .quick-links li {
    text-align: center;
}

#footer .quick-links li a {
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
}
.mainNav {
    background: rgb(232,76,61);
    background: linear-gradient(90deg, rgba(232,76,61,1) 0%, rgba(231,75,60,1) 60%, rgba(253,29,29,1) 100%);
}

h1,h2 {
    font-weight: 200;
    margin: 0.4em 0;
}

h1 { 
    font-size: 3.5em;
}

h2 {
    color: #ddd;
    font-size: 2em;
}

a, a:hover, a:visited {
    text-decoration: none;
    color: inherit;
}

/* Slick Slider styles */
.slick-slide {
    height: auto;
}

.slider .slider-inner {
    width: 80%;
    margin-left: 10%;
    min-width: 1024px;
}

.slider .slider-inner .col img {
    height: 120px;
    margin-left: auto;
    margin-right: auto;
}